header {
    background-color: aquamarine;
    font: 400 70px/1.3 'Lobster Two', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0, 0, 0, 0.15);

}

header a:link {
    text-decoration: none;
}

header img {
    max-width: 64px;
}

table {
    border-collapse: collapse;
    border: 1px solid gray;
    width: 80%;
}

td {
    padding: 10px;
    border: 1px solid gray;
    vertical-align: top;
}

.price {
    text-align: right;
}

img.product-tile {
    max-width: 64px;
}

imd.recently {
    max-width: 64px;
}

/* Page specific styles */
body.product-list {

}

input {
    width: 60%;
    height: 30px;
    font-size: medium;
}

input.quantity {
    width: 20%;
}

button.search {
    width: 20%;
    height: 30px;
}

button.add2cart {
    height: 30px;
}

table.details {
    width: 50%;
    margin: auto;
}

td.image {
    text-align: center;
}

td.quantity {
    text-align: right;
}

form.quantity {
    margin: 10px auto;
}

p.description {
    font-family: "Courier New";
    font-size: x-large;
    font-weight: lighter;
    text-align: center;
}

p.error {
    font-size: large;
    color: red;
    text-align: center;
    padding: 20px;
    background-color: #ffcfa8;
}

p.success {
    font-size: large;
    color: green;
    text-align: center;
    padding: 20px;
    background-color: #baff8f;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.recently {
    display: inline-block; /*Задаем блочно-строчное отображение*/
    width: 80px;
    min-width: 80px;
    vertical-align: top;
    text-align: center;
}

.bordering {
    margin-top: 10px;
    border: skyblue solid;
    display: inline-block;
}

a.recently {
    text-align: center;
    height: 40px;
}
